<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
<context:annotation-config/>
  <bean name="address1" class="com.examples.S02Autowiring.Address" p:city="chennai" p:state="Tamilnadu" p:pincode="600012"/>
 <bean name="address2" class="com.examples.S02Autowiring.Address" p:city="Bangalore" p:state="Karnataka" p:pincode="500012"/>
  <bean name="emp1" class="com.examples.S02Autowiring.Employee" p:id="1" p:name="krishna"/>
  <bean name="emp2" class="com.examples.S02Autowiring.Employee" p:id="2" p:name="Ramu"/>

</beans>

 
 
 
 
 
 
 