<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
 <bean name="emp1" class="com.examples.S01springcoreapp.Employee">
 <property name="id" value="01"/>
 <property name="name" value="Rashika"/> 
 </bean>
 <bean name="emp2" class="com.examples.S01springcoreapp.Employee">
 <property name="id" value="02"/>
 <property name="name" value="Max"/> 
 </bean>
 <bean name="emp3" class="com.examples.S01springcoreapp.Employee" p:id="03" p:name="kevin"/>
 <bean name="emp4" class="com.examples.S01springcoreapp.Employee" p:id="04" p:name="Smith">
<property name="departments">
 <list>
 <value>HR</value>
 <value>Admin</value>
 <value>Sales</value>
 </list>
 </property>
 </bean>
  <bean name="emp5" class="com.examples.S01springcoreapp.Employee" p:id="05" p:name="Jonathan">
<property name="products">
 <map>
 <entry key="100" value="Laptop"/>
  <entry key="200" value="Phone"/>
   <entry key="300" value="TV"/>
 </map>
 </property>
 </bean>
 <bean name="emp6" class="com.examples.S01springcoreapp.Employee" p:id="06" p:name="Ramu">
<property name="countries">
 <props>
 <prop key="USA">English</prop>
  <prop key="CANADA">French</prop>
   <prop key="GERMANY">German</prop>
 </props>
 </property>
 </bean>
  <bean name="emp7" class="com.examples.S01springcoreapp.Employee" p:id="07" p:name="Radha">
<property name="friends">
 <set>
 <value>sam</value>
 <value>jam</value>
 <value>ram</value>
 </set>
 </property>
 </bean>
  <bean name="address1" class="com.examples.S01springcoreapp.Address" p:city="chennai" p:state="Tamilnadu" p:pincode="600012"/>
 
  <bean name="emp8" class="com.examples.S01springcoreapp.Employee" p:id="08" p:name="krishna">
<property name="address">
 <ref bean="address1"/>
 </property>
 </bean>
  <bean name="items1" class="com.examples.S01springcoreapp.Shoppingcart" p:ID="1" p:name="Aloobujia" p:price="165" p:quantity="500gms"/>
 
  <bean name="emp9" class="com.examples.S01springcoreapp.Employee" p:id="09" p:name="rahul">
<property name="items">
 <ref bean="items1"/>
 </property>
 </bean>
</beans>

 
 
 
 
 
 
 